body {
  margin: 0;
  padding: 0;
}

/*Estilo de barra del encabezdo*/
header {
  background: #6ad2f3;
  height: 70px;
  margin-top: 0;
  }
/*Titulo*/
h1 {
  color: #fff;
  font-family:monospace;
  margin-top: 0;
  text-align: center;/*Texto centrado*/
  }
/*Icono*/
.bird{
  float:left;
  height: 70px;
  width: 70px;

}

/*estilo al fondo*/
main {
  background-image: url(../assets/images/bicicleta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  margin: 0;
}
/*Primera caja de texto*/
.box-welcome {
  font-family:monospace;
  background: white;
  border-radius: 10px;
  font-family:monospace;
  display: inline-block;
  height: 30%;
  margin: 3% 6%;
  padding-left: 20px;
  width: 40%;
}
/* Texto de la caja de mensaje*/
.box-welcome{
  font-size: 15px;
  padding-top: 20px;
}
/*Dando color y margen a la palabra CÓDIGO*/
.box-welcome :nth-child(4){
  color:#0080ff;
  padding-top: 30px;
}
/*Estilo del formulario dónde se ingresa el mensaje a twittear*/
#message {
  background: white;
  border-radius: 10px;
  display: inline-block;
  height: 40%;
  margin-top: 3%;
  vertical-align: top;
  width: 40%;
}

/*Styl del boton para twittear*/
#button-twittear {
  background: #6ad2f3;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  height: 30px;
  margin-left: 10px;
  margin bottom: 2%;
  width: 90px;
}
/*Estilo del textArea*/
#words {
  height: 70%;
  border: none;
  font-family:monospace;
  margin-bottom: 0;
  margin: 2%;
  outline: none;
  resize: vertical;
  width: 95%;
  align-content: center;
  text-align: justify;
}
.container {
  width:80%;
}

/*Linea horizontal*/
hr {
  margin-top: 0;
}


/*Style al twitt publicado*/
.twitt {
  background: white;
  border-radius: 5px;
  display: block;
  font-family:monospace;
  margin: 2% 6%;
  padding: 3px;
  width: 90%;
  text-align: justify;
  resize: vertical;
  box-sizing: content-box;
}
/*Contador de caracteres*/
#character {
  border-radius: 10px;
  color:black;
  display: inline-block;
  float: right;
  height: 25px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-align:center;
  width: 30px;
}
.scroll::-webkit-scrollbar {
  display: none;
}
